.content {
  background-color: #222;
  height: 20%;
  padding: 20px;
  color: white;
}

body > .container {
  padding: 60px 15px 0;
}

.mt-3 {
  margin-top: 1rem!important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}